* {
  margin: 0; /* Retirando padrões google */
  padding: 0; /* Retirando padrões google */
  box-sizing: border-box;
}

:root {
  /* Variavel para todo o texto em branco */
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
}

.light {
  /* Adicionando alterações para o tema branco */
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
}

body {
  /* background: cor imagem repeat/size */
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 360px;
  /* tamanho estilo cor  */
  /* border: 1px solid red; */
  /*alinha no meio, não faz auto em cima nem baixo pois so pega os lados */
  margin: 56px auto 0px auto;
  padding: 0 24px;
}

#profile {
  /* Elementos inline aceitam que o eleme. pai diga seu posicionamento */
  text-align: center;
  padding: 24px;
}

#profile img {
  /* display: block;  se aqui fosse block o #profile nao funcionaria */
  width: 112px;
  /* margin: auto; Só o margin nao funciona pq ele é para elementos block */
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* Links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.7s;
}

/* SudoSelector ou pseudo seletor */
ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1.4px solid var(--text-color);
}

/* Links Sociais */
#social-links {
  display: flex;
  gap: 16px;
  padding: 24px 0px;
  font-size: 36px;
  justify-content: center;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background;
}

#social-links a:hover {
  background: rgba(255, 255, 255, 0.1);
}

footer {
  padding: 24px;
  text-align: center;
}
